In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
inside = pd.read_csv('../data/insiders.csv')

user_frequency=pd.read_csv('../data/user_frequency.csv') #(1)
filtered_email=pd.read_csv('../data/filtered_users.csv') #(2)

public_df=pd.read_csv('../data/public_domain_df.csv')#(3)

non_public_d= pd.read_csv('../data/non_public_domain_counts.csv') #(4)
contxt = pd.read_csv('../data/contxt.csv') #(5)

focus=pd.read_csv('../data/focus_group_users.csv')
result= pd.read_csv('../data/unique_filtered_email_users_no_vendors.csv')

In [3]:
inside['details']

0          r2.csv
1      r3.1-1.csv
2      r3.1-2.csv
3      r3.2-1.csv
4      r3.2-2.csv
          ...
186    r6.2-1.csv
187    r6.2-2.csv
188    r6.2-3.csv
189    r6.2-4.csv
190    r6.2-5.csv
Name: details, Length: 191, dtype: object

In [4]:
#verify only r.4.2 dataset
filtered_inside = inside[inside['details'].str.contains(r'\br4\.2-\w+', na=False)]
# Display the filtered DataFrame
print(filtered_inside['user'])

8     AAM0658
9     AJR0932
10    BDV0168
11    BIH0745
12    BLS0678
       ...
73    JGT0221
74    JLM0364
75    JTM0223
76    MPM0220
77    MSO0222
Name: user, Length: 70, dtype: object

In [5]:
#TP case Length: 70

In [6]:
result

        user
0    MOH0273
1    HVB0037
2    NWK0215
3    HSB0196
4    JDC0030
..       ...
497  KDS0349
498  LQC0479
499  RGH0728
500  MLD0755
501  ONW0083

[502 rows x 1 columns]

In [7]:
focus

     user_id            employee_name
0    JFC0557    Jade Felicia Caldwell
1    AAL0706         April Alika Levy
2    GCG0951         Grant Camden Gay
3    CJV0286  Colorado John Valentine
4    QOS0878     Quynn Odessa Sanford
..       ...                      ...
239  MAW0166    Meredith Ainsley Wolf
240  PPF0435    Preston Plato Fischer
241  ATE0869    Aquila Tanner Ellison
242  DTT0076        Dylan Tiger Terry
243  JSH0330  Judith Shaeleigh Hayden

[244 rows x 2 columns]

In [8]:
merged_df = pd.merge(result[['user']], inside, on='user', how='left')

#merged_df.dropna(inplace=True)

In [9]:
#70 users are detected TP
user_frequency_df = pd.merge(user_frequency, inside, left_on='user', right_on='user', how='left')
user_frequency_df.dropna(inplace=True)
user_frequency_df['user'].nunique()

70

In [10]:
#70 users are detected TP
focus_filterset = pd.merge(filtered_email, inside, left_on='user', right_on='user', how='left',sort='ascending')
focus_filterset.dropna(inplace=True)
focus_filterset['user'].nunique()
#focus_filterset['user'].unique()

70

In [11]:
public_df_set = pd.merge(public_df, inside, left_on='user', right_on='user', how='left', sort='ascending')
public_df_set.dropna(inplace=True)
public_df_set['user'].nunique()
#public_df_set['user'].unique()

70

In [12]:
contxt_df = pd.merge(contxt, inside, left_on='user', right_on='user', how='left', sort='ascending')
contxt_df.dropna(inplace=True)
contxt_df['user'].nunique()
#contxt_df['user'].unique() retrieve effective dataset

33

In [13]:
nonpublic = pd.merge(non_public_d, inside, left_on='user', right_on='user', how='left',sort='ascending')
nonpublic.dropna(inplace=True)
nonpublic['user'].nunique()
#nonpublic['user'].unique()

9

In [14]:
#Export only user in r4.2 dataset to identify the TP user
#filtered_inside.to_csv('../data/filtered_inside.csv')

In [15]:
focus_df = pd.merge(focus, inside, left_on='user_id', right_on='user', how='left')
focus_df.dropna(inplace=True)
focus_df.value_counts().sum()

13